<%- include("partials/header") -%>
<h1>HOME</h1>
<p><%= homeText %></p>

<%for(let i=0;i<Blog.length;i++){%>
<h2><%=Blog[i].title%></h2>
<p><%=Blog[i].content.substring(0,100)+"...."%>
<a href="/posts/<%=Blog[i].title%>">Read more</a>
</p>
<%}%>


<%-include("partials/footer")-%>